.editor {
  background-color: var(--color-dark-1);
  margin-top: 70px;
  position: relative;
  border-radius: 12px;
  border: 3px solid var(--color-turquoise-2);
  margin-inline: 40px;
  padding: 20px 40px;

  & .editor__colors {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    column-gap: 5px;
    background-color: var(--color-turquoise-2);
    padding: 5px;

    & .editor__colors-color {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  & .editor__label {
    display: flex;
    justify-content: center;
    & input {
      width: 70%;
      font-size: 64px;
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--color-turquoise-1);
      padding-inline: 90px;
      border-bottom: 3px solid var(--color-turquoise-1);
      padding-bottom: 12px;

      &::placeholder {
        color: var(--color-turquoise-1);
        opacity: 0.7;
      }
    }
  }

  & .editor__content {
    position: relative;
    padding-top: 40px;

    & .editor__content-field {
      font-size: 36px;
      background-color: transparent;

      outline: none;
      min-height: 60vh;

      & blockquote {
        font-style: italic;
        padding-left: 20px;
        font-weight: bold;
      }

      ol,
      ul {
        padding-left: 80px;
      }

      & ol {
        list-style: decimal;
      }

      & ul {
        list-style: square;
      }
    }
  }
}
