.note {
  height: 260px;
  min-width: 280px;
  width: 20%;
  position: relative;
  cursor: pointer;
  margin-bottom: 40px;

  & .note-item {
    transform: translateY(0);
    height: 100%;
    transition: transform 0.2s ease;
    z-index: 1;

    & .note-item__title {
      text-align: center;
    }

    & .note-item__content {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding-inline: 10px;
    }

    & .note-item__delete,
    & .note-item__favorite,
    & .note-item__archive {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: var(--color-turquoise-2);
      transition: transform 0.2s ease;

      & img {
        width: 80%;
      }
    }

    & .note-item__delete {
      z-index: -1;
      bottom: 10px;
      right: 10px;
      transform: translateY(0);
      transform-origin: top;

      &:hover {
        transform: translateY(-3px);
      }
    }

    & .note-item__favorite {
      bottom: 10px;
      left: 10px;
      transform: translateY(0);
      transform-origin: bottom;

      &:hover {
        transform: translateY(-3px);
      }
    }

    & .note-item__archive {
      bottom: 10px;
      left: 40px;
      transform: translateY(0);
      transform-origin: bottom;

      &:hover {
        transform: translateY(-3px);
      }
    }

    &:hover {
      transform: translateY(-6px);
    }
  }
}
