.note {
  position: relative;
  width: 20%;
  min-width: 280px;
  height: 260px;
  margin-bottom: 40px;
  cursor: pointer;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.note-item {
  z-index: 1;
  height: 100%;
  transition: transform 0.2s ease;
  transform: translateY(0);
}

.note-item__title {
  text-align: center;
}

.note-item__content {
  display: -webkit-box;
  padding-inline: 10px;
  overflow: hidden;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.note-item__delete,
.note-item__favorite,
.note-item__archive {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-color: var(--color-turquoise-2);
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }
}

.note-item__icon {
  width: 80%;
}

.note-item__delete {
  right: 10px;
  bottom: 10px;
  z-index: -1;
  transform: translateY(0);
  transform-origin: top;
}

.note-item__favorite {
  bottom: 10px;
  left: 10px;
  transform: translateY(0);
  transform-origin: bottom;
}

.note-item__archive {
  bottom: 10px;
  left: 40px;
  transform: translateY(0);
  transform-origin: bottom;
}