.sidebar {
  border-right: 2px solid var(--color-turquoise-2);
  height: 100%;
  position: fixed;
  width: 250px;
  transform: translateX(0);
  transition: transform 0.2s ease;
  background-color: var(--color-dark-1);
  container-type: inline-size;
  container-name: sidebar-zone;
  z-index: 2;

  & ul {
    list-style: none;
    padding-inline: 20px;
    padding-top: 40px;

    & .sidebar__nav-item {
      cursor: pointer;
      padding: 22px 12px;
      transform: translateY(0);
      transition-duration: 0.2s;
      font-size: 20px;
      margin-bottom: 5px;

      @media (max-width: 1048px) {
        & {
          font-size: 14px;
          padding-block: 12px;
        }
      }

      &:hover {
        background-color: var(--color-gray);
        transform: translateY(-10px);
        border-right: 3px solid var(--color-turquoise-2);
        box-shadow: 0px 4px 2px 4px rgba(0, 0, 0, 0.2);
      }

      &.isSelected {
        background-color: var(--color-gray);
        transform: translateY(-10px);
        border-right: 3px solid var(--color-turquoise-2);
        box-shadow: 0px 4px 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.isOpened {
    transform: translateX(0);
  }

  @media (max-width: 1048px) {
    & {
      width: 250px;
      top: 50px;
      transform: translateX(-250px);
    }
  }

  @media (max-width: 480px) {
    & {
      width: 200px;
      top: 50px;
      transform: translateX(-200px);
    }
  }
}
