.notes {
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
  margin-top: 70px;
}

.notes__list {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding-left: 0;
  padding-inline: 80px;
  margin-block: 80px 40px;

  @media (max-width: 576px) {
    padding-inline: 10px;
  }
}
